@import '@/styles/variables';
@import '@/styles/mixins.scss';

.profile {
  width: 100%;
  &__title {
    margin-bottom: rem(24);
  }
  &__row {
    width: 100%;
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  &__image {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      width: 40px;
      height: 40px;
    }
  }
  &__user {
    display: flex;
    flex-direction: column;
    width: 40px;
    opacity: 0.5;
    margin-right: 12px;
    transition: $time-main;
    &:hover {
      opacity: 1;
    }
    & span {
      margin-top: 4px;
      font-size: 13px;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.active {
      opacity: 1;
      width: 50px;
      & img {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 10px;
      }
    }
  }
  &__image {
    border-radius: 8px;
    cursor: pointer;
  }
  &__add {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: $color-card-hover;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 2px;
      border-radius: 1px;
      background-color: white;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
      height: 40%;
      border-radius: 1px;
      background-color: white;
    }
  }
}
