@import '@/styles/variables.scss';

.modal {
  position: absolute;
  top: 0;
  left: 0;
  &__open {
    display: inline-flex;
    justify-content: center;
    padding: 50px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(7,5,14,.96);
    z-index: 100;
    @media (max-width: $mobile) {
      padding: 25px;
    }
  }
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  color: white;
  opacity: 0.7;
  transition: $time-main;
  &__icon {
    width: 30px;
    height: 30px;
  }
  &:hover {
    opacity: 1;
  }
  &:hover .back__icon {
    transform: scale(1.1);
  }
}

.wrap {
  display: grid;
  grid-auto-flow: column;
  gap: 150px;
  max-width: $maxWidthContainer + px;
  box-sizing: content-box;
  margin: 0 20%;
  padding: 50px 0;
  justify-items: start;
  justify-content: space-between;
  grid-auto-columns: 3fr 1fr;
  @media (max-width: $mobile) {
    padding: 25px 0;
  }
}

.tabs {
  &__title {
    display: flex;
    gap: 20px;
    padding-top: 15px;
    border-bottom: 2px solid rgba($color-main, 0.16);
  }
  &__content {
    margin: 30px 0;
  }
}

.active {
  transition: $time-main;
  box-shadow: 0 4px 0 0 $color-accent;
}

.tab {
  display: block;
  cursor: pointer;
  padding-bottom: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}

.link {
  display: grid;
  gap: 10px;
  &:hover {
    .name {
      color: $color-main;
    }
  }
}

.card {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  img {
    width: 120px;
  }
  @media (max-width: $mobile) {
    width: 88px;
    height: 88px;
    img {
      width: 88px;
    }
  }
}

.name {
  font-size: 13px;
  color: #d9d7e0;
  transition: $time-main;
  line-height: 16px;
  font-weight: 500;
}

.movie {
  @media (max-width: 1210px) {
    display: none;
  }
  &__img {
    transition: $time-main;
    border-radius: 8px;
    max-width: 128px;
    max-height: 196px;
    &:hover {
      transform: scale(1.1, 1.1);
      cursor: pointer;
    }
  }
  &__info {
    margin-top: 20px;
    max-width: 100px;
    display: grid;
    gap: 3px;
  }
  &__descr {
    line-height: 1;
  }
}

.graphs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  span {
    font-size: 24px;
    font-weight: 700;
  }
  &__wrap {
    width: 20px;
  }
}
