@import "@/styles/variables";

.description {
  width: 75%;
  margin-bottom: 30px;
  .first {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  button{
    //margin-top: 20px;
  }
}

