@import '../../styles/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  transition: $time-main;
  height: 40px;
  padding: 0 12px;
  background-color: #1f1b2e;
  border-color: #1f1b2e;
  color: white;
  font-size: 15px;
  font-weight: 600;
  &:hover {
    background-color: #28233b;
  }
}

.rectangle {
  border-radius: 8px;
}

.square {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.red {
  background-color: #ea003d;
  border-color: #ea003d;
  border-radius: 8px;
  &:hover {
    background-color: #ff0f4d;
    border-color: #ff0f4d;
  }
}

.S {
  height: 32px;
  padding: 7px 11px;
  font-size: 13px;
}

.M {
  height: 40px;
  padding: 9px 15px;
}

.L {
  height: 48px;
  padding: 5px 15px;
}
