@import '@/styles/variables.scss';

.arrow_container {
  &:hover {
    .arrow {
      opacity: 1;
    }
    .prev_banner, .next_banner {
      opacity: .72;
      transition: opacity 80ms;
    }
  }
  &:active {
    .arrow button {
      transform: scale(0.5);
      transition: $time-main;
    }
  }
  @media screen and (max-width: 600px) {
    display: none!important;
  }
}

.arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  padding: 0;
  cursor: pointer;
  color: transparent;
  background: transparent;
  border: none;
  outline: none;
  opacity: 0.7;
  transition: $time-main;
  z-index: 10;

  button {
    height: 100%;
    width: 100%;
    padding: 0;
    transition: $time-main;
    &:disabled {
      display: none;
    }
    &:active {
      transform: scale(0.5);
      transition: $time-main;
    }
  }
  &.prev,
  &.next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }
  &.prev {
    left: -25px;
  }
  &.next {
    right: -25px;
  }
  &.prevPromo {
    padding: 10px;
    right: calc(66.7%);
    z-index: 10;
    @media screen and (max-width: 600px) {
      right: calc(62%);
    }
  }
  &.nextPromo {
    padding: 10px;
    left: calc(66.7%);
    z-index: 10;
    @media screen and (max-width: 600px) {
      left: calc(62%);
    }
  }
}
.prev_banner, .next_banner {
  top: 0;
  cursor: pointer;
  height: calc(100%);
  width: 100%;
  position: absolute;
  border-radius: 24px;
  background-color: rgba(7,5,14,.64);
  z-index: 9;
}
.prev_banner {
  background-image: linear-gradient(270deg,rgba(31,27,46,0), rgba(31,27,46,.72));
  right: calc(100%*2/3 + 0.25%);
}
.next_banner {
  left: calc(100%*2/3 + 0.25%);
  background-image: linear-gradient(90deg,rgba(31,27,46,0), rgba(31,27,46,.72));
}
