@import "@/styles/variables.scss";

.select_profile {
  padding: 20px 12px 0;
  display: flex;
  flex-direction: column;
  h4 {
    padding-top: 15px;
  }
  .profiles {
    display: flex;
  }
  .avatar {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    max-width: 40px;
    img {
      width: 100%;
      aspect-ratio: 1;
      border-radius: 8px;
    }
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &:before {
    content: '';
    display: block;
    background-color: rgba(255,255,255,.16);
    height: 1px;
    width: 100%;
    pointer-events: none;
  }
  &:after {
    content: '';
    display: block;
    background-color: rgba(255,255,255,.16);
    height: 1px;
    width: 95%;
    pointer-events: none
  }
}

.userinfo {
  padding: 0 12px;
  margin: 20px 0;
  &__title {
    display: flex;
    justify-content: space-between;
    .title__text {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }
  &__information {
    display: flex;
    .info {
      margin-top: -2px;
      margin-bottom: -2px;
      padding-top: 2px;
      padding-bottom: 2px;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      svg {
        color: $color-gray-text;
        margin-right: 10px;
      }
      button {
        border: 1px solid rgba($color-input, .72);
        padding: 10px;
      }
      +.info {
        margin-left: 16px;
      }
    }
  }
}

.profile__btns {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  .id {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    padding: 0 12px;
    svg {
      color: $color-accent;
    }
  }
  button {
    text-align: center;
  }
  .login {
    display: flex;
    align-items: center;
    padding: 40px 12px 32px;
    button {
      padding: 20px 15px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
  .list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    &__item {
      margin-bottom: 20px;
      padding: 0 12px;
      &.subscription {
        width: 40%;
        &_present {
          width: 100%;
          svg {
            font-size: 30px;
          }
        }
      }
      &.certificate {
        width: 40%;
      }
      &.fund {
        width: 20%;
      }
      &.referral_program {
        width: calc(100%*5/7);
      }
      &.notifications {
        width: calc(100%*2/7);
      }
      &.smalls {
        width: calc(100%/7);
        svg {
          font-size: 1.5rem;
        }
      }
      @media screen and (max-width: 1271px) {
        &.smalls {
          width: calc(100%/6);
        }
      }
      @media screen and (max-width: 1095px) {
        &.smalls {
          width: calc(100%/5);
        }
      }
      @media screen and (max-width: 919px) {
        button {
          font-size: 0.8rem;
        }
        &.subscription {
          width: 100%;
        }
        &.referral_program {
          width: 50%;
        }
        &.notifications {
          width: 50%;
        }
        &.certificate {
          width: 50%;
        }
        &.fund {
          width: 50%;
        }
        &.smalls {
          width: calc(100%/4);
        }
      }
      @media screen and (max-width: 743px) {
        &.smalls {
          width: calc(100%/3);
        }
      }
      @media screen and (max-width: $mobile+px) {
        &.smalls {
          width: calc(100%/4);
        }
        &.referral_program {
          width: 100%;
        }
        &.notifications {
          width: 100%;
        }
        &.certificate {
          width: calc(100%*2/3);
        }
        &.fund {
          width: calc(100%/3);
        }
      }
      @media screen and (max-width: 511px) {
        &.subscription {
          width: 100%;
        }
        &.certificate {
          width: 100%;
        }
        &.fund {
          width: 100%;
        }
        &.smalls {
          width: calc(100%/3);
        }
      }
      @media screen and (max-width: 391px) {
        &.smalls {
          width: calc(100%/2);
        }
      }
      @media screen and (max-width: $minWidth+px) {
        &.smalls {
          width: calc(100%);
        }
      }
    }

  }

  @media screen and (max-width: 919px) {
    .list{
      flex-wrap: wrap;
    }
  }
}


