@import "@/styles/variables";

.profile__btns {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  .id {
    font-size: 0.7rem;
    padding: 0 12px;
  }
  button {
    text-align: center;
  }
  .login {
    display: flex;
    align-items: center;
    padding: 40px 12px 32px;
    button {
      padding: 20px 15px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
  .list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    &__item {
      margin-bottom: 20px;
      padding: 0 12px;
      &.subscription {
        width: 40%;
        &_present {
          width: 100%;
          svg {
            font-size: 30px;
          }
        }
      }
      &.certificate {
        width: 40%;
      }
      &.fund {
        width: 20%;
      }
      &.referral_program {
        width: calc(100%*5/7);
      }
      &.notifications {
        width: calc(100%*2/7);
      }
      &.smalls {
        width: calc(100%/7);
        svg {
          font-size: 1.5rem;
        }
      }
      @media screen and (max-width: 1271px) {
        &.smalls {
          width: calc(100%/6);
        }
      }
      @media screen and (max-width: 1095px) {
        &.smalls {
          width: calc(100%/5);
        }
      }
      @media screen and (max-width: 919px) {
        button {
          font-size: 0.8rem;
        }
        &.subscription {
          width: 100%;
        }
        &.referral_program {
          width: 50%;
        }
        &.notifications {
          width: 50%;
        }
        &.certificate {
          width: 50%;
        }
        &.fund {
          width: 50%;
        }
        &.smalls {
          width: calc(100%/4);
        }
      }
      @media screen and (max-width: 743px) {
        &.smalls {
          width: calc(100%/3);
        }
      }
      @media screen and (max-width: $mobile+px) {
        &.smalls {
          width: calc(100%/4);
        }
        &.referral_program {
          width: 100%;
        }
        &.notifications {
          width: 100%;
        }
        &.certificate {
          width: calc(100%*2/3);
        }
        &.fund {
          width: calc(100%/3);
        }
      }
      @media screen and (max-width: 511px) {
        &.subscription {
          width: 100%;
        }
        &.certificate {
          width: 100%;
        }
        &.fund {
          width: 100%;
        }
        &.smalls {
          width: calc(100%/3);
        }
      }
      @media screen and (max-width: 391px) {
        &.smalls {
          width: calc(100%/2);
        }
      }
      @media screen and (max-width: $minWidth+px) {
        &.smalls {
          width: calc(100%);
        }
      }
    }

  }

  @media screen and (max-width: 919px) {
    .list{
      flex-wrap: wrap;
    }
  }
}


