@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.input {
  width: 70vw;
  display: flex;
  align-items: center;
  background-color: $color-input;
  color: $color-input-text;
  border-radius: 4px;
  & input {
    width: 100%;
    padding: rem(8) rem(10);
    background-color: $color-input;
    border-radius: 4px;
    outline: 0;
    font-size: rem(15);
    line-height: percent(20,15);
    font-weight: 500;
  }
  &__icon {
    cursor: pointer;
    margin: 0 rem(5);
    color: $color-input-text;
    opacity: 0.5;
    transition: $time-main;
    &:hover {
      opacity: 1;
    }
  }
}

.body {
  margin-top: rem(60);
  & h3 {
    font-size: rem(40);
    margin-bottom: rem(40);
  }
}
