@import '../../../../styles/variables';

.input {
  width: 70vw;
  display: flex;
  align-items: center;
  background-color: $color-input;
  color: $color-input-text;
  border-radius: 4px;
  & input {
    width: 100%;
    padding: 8px 10px;
    background-color: $color-input;
    border-radius: 4px;
    outline: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }
  &__icon {
    cursor: pointer;
    margin: 0 5px;
    color: $color-input-text;
    opacity: 0.5;
    transition: $time-main;
    &:hover {
      opacity: 1;
    }
  }
}

.body {
  margin-top: 60px;
  & h3 {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
