@import '../../styles/variables.scss';

.user {
  flex: 0 0 40px;
  &__button {
    position: relative;
    z-index: 10;
    opacity: 0.5;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    padding: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    & img {
      padding: 5px;
    }
    &:hover {
      opacity: 1;
    }
    &:hover ~ .user__body {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  &__border {
    flex: 0 0 70px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    opacity: 0.3;
    z-index: 10;
  }
  &__content {
    flex: 1 1 auto;
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // flex-direction: column;
  }
  &__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    background-color: $color-alert-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  &__icon {
    opacity: 0.5;
    font-size: 50px;
    margin-bottom: 30px;
  }
  & p {
    opacity: 0.5;
  }
}

.content {
  &__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }
  &__actions {
    flex: 0 0 70%;
    border-right: 1px solid rgba(255, 255, 255, 0.449);
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  &__auth {
    height: 100%;
    margin-left: 15px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__nowrap {
    white-space: nowrap;
  }
}
