@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.submenu {
  .submenu__body {
    @media screen and (max-width: $pc) {
      display: none;
    }
  }
  &:hover {
    .submenu__body {
      transition: all 0.05s ease-out;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      filter: drop-shadow(0 20px 96px #12101b);
    }
  }
  &__button {
    width: rem(23);
    height: rem(23);
    margin-left: rem(15);
    font-weight: 400;
    position: relative;
    z-index: 10;
    opacity: 0.5;
    cursor: pointer;
    //transition: $time-main;
    & img {
      padding: rem(5);
    }
    &:hover {
      opacity: 1;
    }
    &:hover ~ .submenu__body {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  &__buttonOutline {
    position: relative;
    z-index: 10;
    opacity: 0.5;
    border: 2px solid white;
    border-radius: 8px;
    width: rem(48);
    height: rem(48);
    padding: rem(9);
    cursor: pointer;
    transition: $time-main;
    & img {
      padding: rem(5);
    }
    &:hover {
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
      opacity: 1;
    }
    &:hover ~ .submenu__body {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__buttonUser {
    position: relative;
    z-index: 10;
    opacity: 0.9;
    border-radius: 8px;
    width: rem(48);
    height: rem(48);
    cursor: pointer;
    object-fit: cover;
    transition: $time-main;
    & img {
      padding: rem(0);
    }
    &:hover {
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
      opacity: 1;
    }
    &:hover ~ .submenu__body {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  &__border {
    flex: 0 0 73px;
    display: block;
    width: 99%;
    border-bottom: 1px solid #ffffff;
    opacity: 0.3;
    z-index: 10;
  }
  &__content {
    z-index: 800;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__body {
    position: absolute;
    top: 0;
    left: -1%;
    right: -1%;
    width: 102%;
    min-height: rem(300);
    background-color: $color-submenu-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    touch-action: none;
    pointer-events: none;
    border-radius: rem(10);
    z-index: 1;
    transition: all 0.3s ease-in;
    &:hover {
      opacity: 1;
      touch-action: auto;
      visibility: visible;
      pointer-events: all;
    }
  }
  &__icon {
    opacity: 0.5;
    font-size: rem(50);
    margin-bottom: rem(30);
  }
  & p {
    opacity: 0.5;
  }
}
