@import '../../../styles/variables';
@import '@/styles/mixins.scss';

.submenu {
  flex: 0 0 rem(40);
  &:hover {
    .submenu__body {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      @media screen and (max-width: 1159px) {
        display: none;
      }
    }
  }
  &__button {
    width: rem(23);
    height: rem(23);
    margin-left: rem(10);
    font-weight: 400;
    position: relative;
    z-index: 10;
    opacity: 0.5;
    cursor: pointer;
    transition: $time-main;
    & img {
      padding: rem(5);
    }
    &:hover {
      opacity: 1;
    }
    &:hover ~ .submenu__body {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  &__buttonOutline {
    position: relative;
    z-index: 10;
    opacity: 0.5;
    border: 2px solid white;
    border-radius: 8px;
    width: rem(48);
    height: rem(48);
    padding: rem(9);
    cursor: pointer;
    transition: $time-main;
    & img {
      padding: rem(5);
    }
    &:hover {
      box-shadow: 0 0 15px rgba( 255,255,255, 0.3);
      opacity: 1;
    }
    &:hover ~ .submenu__body {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  &__border {
    flex: 0 0 rem(73);
    display: block;
    width: 99%;
    border-bottom: 1px solid #ffffff;
    opacity: 0.3;
    z-index: 10;
  }
  &__content {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: rem(300);
    max-height: rem(500);
    background-color: $color-submenu-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border-radius: rem(10);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    z-index: 1;
    transition: $time-main;
    &:hover {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  &__icon {
    opacity: 0.5;
    font-size: rem(50);
    margin-bottom: rem(30);
  }
  & p {
    opacity: 0.5;
  }
}
