@import '@/styles/variables.scss';

.content {
  border-top: 1px solid rgba($color-main, 0.16);
  background: url("/bg404.png") 0 0/100% auto no-repeat;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__row {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    & p {
      margin-top: 8px;
    }
  }
}
