@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.alerts {
  &__content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__icon {
    opacity: 0.5;
    font-size: rem(50);
    margin-bottom: rem(30);
  }
  & p {
    opacity: 0.5;
  }
}
