@import '../../../styles/variables.scss';

.footerMobile {
  background-color: rgba(31, 27, 46, 0.88);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1009;
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
}

.link {
  flex-basis: 100%;
  max-width: 120px;
}

@media (max-width: $pc) {
  .footerMobile {
    display: block;
  }
}
