@import '@/styles/variables.scss';

.carousel {
  width: 300%;
  position: relative;
  transform: translateX(-33.3333%);
  -webkit-tap-highlight-color: transparent;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  .item {
    cursor: pointer;
    position: relative;
    border-radius: 24px;
    display: flex;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 1216px;
    max-height: 524px;
  }
  .img {
    height: 524px;
    margin: 0 10px;
    @media screen and ( max-width: 1140px) {
      height: 100%;
    }
    img {
      // position: static !important;
      width: 100%;
      height: 100%;
      object-fit: cover; // чтобы не сжимало пропорции
      border-radius: 24px;
    }
  }
  .information {
    max-height: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    .content_container {
      max-width: 50%;
      margin-bottom: 20px;
      .logo {
        img {
          display: flex;
          align-items: center;
          max-width: 384px;
          max-height: 200px !important;
          height: auto;
          width: 100%;
          object-fit: contain;
          position: static !important;
        }
      }
      //@media screen and (max-width: 600px) {
      //  display: flex;
      //  flex-direction: column;
      //  //max-width: 100%;
      //  padding: 20px;
      //
      //  .logo {
      //    img {
      //      max-width: 384px;
      //      max-height: 50px;
      //      object-fit: contain;
      //      position: static !important;
      //    }
      //  }
      //}
    }
    button {
      display: flex;
      font-size: 1rem;
      padding: 10px;
      margin-bottom: 20px;
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
    .synopsis {
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      margin-top: 2%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media screen and (max-width: 600px) {
      * {
        font-size: 0.7rem !important;
      }
    }
  }
}

.promo_buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
  a {
    width: 50%;
    margin: 0 10px;
    button {
      min-height: 42px;
    }
  }
}

.left_banner, .right_banner {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 24px;
  &:hover {
    opacity: .72;
    transition: opacity 80ms;
  }
}
