@import '@/styles/variables.scss';

.carousel {
  width: 300%;
  transform: translateX(-33.3333%);
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  .item {
    display: flex;
    justify-content: center;
  }
  .img {
    box-sizing: content-box;
    margin: 0 20px;
    height: 524px;
    position: relative;
    > img {
      // position: static !important;
      width: 100%;
      height: 100%;
      object-fit: cover; // чтобы не сжимало пропорции
      border-radius: 24px;
    }
    @media screen and ( max-width: 1140px) {
      height: 100%;
    }
    @media screen and ( max-width: 600px) {
      aspect-ratio: 164/183;
      max-height: 328px;
    }
  }
  .information {
    bottom: 0;
    position: absolute;
    margin: 0 20px;
    .content_container {
      bottom: 0;
      padding: 20px 0;
      position: relative;
      max-width: 50%;
      .logo {
        @media screen and (max-width: 1140px) {
          display: none;
        }
        img {
          display: flex;
          align-items: center;
          max-width: 384px;
          max-height: 200px !important;
          height: auto!important;
          object-fit: contain;
          position: static !important;
        }
      }
    }
    @media screen and ( max-width: 600px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      .content_container {
        max-width: 100%;
        text-align: center;
      }
    }
    button {
      display: flex;
      font-size: 1rem;
      padding: 10px;
      margin-bottom: 20px;
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
    .synopsis {
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      margin-top: 2%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media screen and (max-width: 600px) {
      * {
        font-size: 0.7rem !important;
      }
    }
  }
}

.promo_buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
  a {
    width: 50%;
    margin: 0 10px;
    button {
      min-height: 42px;
    }
  }
  @media screen and (max-width: 1140px) {
    flex-direction: column;
    a {
      width: 100%;
      margin-bottom: 12px;
    }
  }
}

.left_banner, .right_banner {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 24px;
  &:hover {
    opacity: .72;
    transition: opacity 80ms;
  }
}
