@import '@/styles/variables.scss';

.carousel {
  -webkit-tap-highlight-color: transparent;
  margin: 20px 0;
  .item {
    cursor: pointer;
    position: relative;
    border-radius: 24px;
    display: flex;
    padding: 0;
    width: 100%;
    max-height: 600px;
  }
  .img {
    img {
      width: 100%;
      border-radius: 24px;
    }
  }
  .items {
    margin: -5px 0;
    max-height: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: 5%;
    left: 3%;
    .content_container {
      margin-bottom: 5%;
      width: 50%;
      img {
        max-width: 100%;
        object-fit: contain;
      }
    }
    button {
      display: flex;
      font-size: 1rem;
      padding: 10px;
    }
    .synopsis {
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      margin-top: 2%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media screen and (max-width: 600px) {
      * {
        font-size: 0.7rem!important;
      }
    }
  }
}

.arrows {
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 100%;
  display: block;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  opacity: 0.7;
  transition: $time-main;
  background: transparent;
  &:hover {
    opacity: 0.75;
  }
  button {
    height: 100%;
    width: 100%;
    padding: 0;
    transition: $time-main;
    &:disabled{
      display: none;
    }
    &:active {
      transform: scale(0.5);
      transition: $time-main;
    }
  }
}

.promo_buttons{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
  a {
    width: 50%;
    margin: 0 10px;
    button {
      min-height: 42px;
    }
  }
}
