@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.content {
  width: 100%;
  padding: rem(20);
  display: flex;
  &__items {
    flex: 1 1 55%;
    display: flex;
  }
  &__item {}
  &__collections {
    padding: 0 rem(15);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    flex: 1 1 45%;
  }
  &__title {
    margin-bottom: rem(10);
  }
  &__genres {
    display: grid;
    grid-template-columns: repeat(2, rem(190));
    grid-gap: rem(5);
    & a {
      margin: 0;
      padding: rem(4) 0;
      line-height: 100%;
    }
  }
  &__countries {
    display: grid;
    grid-template-columns: repeat(1, rem(190));
    grid-gap: rem(5);
    margin-bottom: rem(20);
    & a {
      margin: 0;
      padding: rem(4) 0;
      line-height: 100%;
    }
  }
  &__years {
    display: grid;
    grid-template-columns: repeat(1, 190px);
    grid-gap: rem(5);
    & a {
      margin: 0;
      padding: rem(4) 0;
      line-height: 100%;
    }
  }
  &__link {
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: 400;
    font-size: rem(15);
    margin-left: 0;
    padding: rem(4) 0;
    line-height: 100%;
    letter-spacing: 0.3px;
    opacity: 0.5;
    transition: $time-main;
    &:hover {
      opacity: 1;
    }
  }
}

.collections {
  &__collection {
    display: flex;
    flex-direction: column;
    gap: rem(5);
    & a {
      margin: 0;
      padding: rem(4) 0;
      line-height: 100%;
    }
  }
  &__link {
    position: relative;
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: 400;
    font-size: rem(15);
    margin: 0;
    padding: rem(4) 0;
    line-height: 100%;
    letter-spacing: 0.3px;
    opacity: 0.5;
    transition: $time-main;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: rem(-16.5);
      width: rem(2);
      height: rem(25);
      background-color: white;
      opacity: 0;
    }
    &:hover {
      opacity: 1;
      &::before {
        opacity: 1;
      }
    }
  }
}
