@import '../../../../styles/variables';

.search {
  cursor: pointer;
  margin-left: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  opacity: 0.5;
  transition: $time-main;
  z-index: 10;
  @media (max-width: $pc) {
    display: none;
  }
  &:hover {
    opacity: 1;
  }
}

.icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
