@import '@/styles/variables.scss';

.card {
  cursor: pointer;
  padding: 20px 10px 0 10px;
  font-size: 1em;
  max-width: 234px;
  color: #d9d7e0;
  transform-origin: 50% 50%;
  transition-property: transform;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 600px) {
    font-size: 0.6em;
  }
  button, a button {
    background-color: transparent!important;
    padding: 0;
    max-height: 20px;
    margin: 0;
    svg {
      font-size: 1.25rem;
    }
  }
  .imageSection {
    aspect-ratio: 13/20;
    position: relative;
    background-color: #1f1b2e;
    border-radius: 8px;
    overflow: hidden;
    max-height: 360px;
    &.show {
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 600px) {
        p {
          font-size: 1em;
        }
      }
    }
    img {
      width: auto;
      height: 100%;
    }
    @media screen and (min-width: $mobile) {
      &.hover .props{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        text-align: center;
        transition: $time-main;
        z-index: 90;
        opacity: 0;
        padding: 10%;
        align-items: flex-start;
        visibility: hidden;
        .btns {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 15%;
          &__container {
            display: flex;
            width: 100%;
            justify-content: flex-end;
          }
          button {
            margin-top: 5px;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          position: relative;
          height: 100%;
          min-width: 100%;
          padding: 10px;
          &__text {
            text-align: start;
            font-size: 0.6rem;
            display: flex;
          }
          &__row {
            margin-top: 4px;
            white-space: pre-wrap;
            text-overflow: ellipsis;
          }
          .ratings {
            font-size: 1.4rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            .graphs {
              display: flex;
              min-width: 25%;
              flex-direction: column;
            }
          }
        }
      }
    }
  }
  .textSection {
    height: 20px;
    width: 100%;
    margin-top: 10px;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 0.8rem;
      transition: $time-main;
    }
  }
  .singleGraph {
    margin-top: 20px;
    color: #a5a1b2;
    font-size: 0.6rem;
    text-align: start;
    width: 65%;
  }
  &:hover {
    .imageSection{
      transition: $time-main;
      transform: scale(1.03) translateY(-1%);
      &.show>p {
        color: white!important;
        transition: $time-main;
      }
      .props {
        background-color: rgba(7,5,14,.8);
        opacity: 1;
        visibility: visible;
        transition: $time-main;
      }
    }
    .textSection {
      p {
        transition: $time-main;
        color: white
      }
    }
  }
  &:active {
    transition: $time-main ease-in-out;
    transform: scale(0.98);
  }
}

.mirrored {
  transform: scale(-1, 1)
}
.hover.props{.btns{&__container{}button{}}.info{&__text{}&__row {}.ratings{.graphs {}}}} //prevent webstorm commit errors

