@import '../../styles/variables';
.back {
  cursor: pointer;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  opacity: 0.7;
  transition: $time-main;
  margin: 15px 0;
  &__icon {
    margin-left: -10px;
    width: 35px;
    height: 35px;
  }
  & span {
    font-size: 15px;
  }
  &:hover {
    opacity: 1;
    margin: 15px 0;
  }
  &:hover .back__icon {
    transform: scale(1.1);
  }
}
