@import '../../styles/variables.scss';

.content {
  &__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }
  &__actions {
    flex: 0 0 70%;
    border-right: 1px solid rgba(255, 255, 255, 0.449);
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  &__auth {
    height: 100%;
    margin-left: 15px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__nowrap {
    white-space: nowrap;
  }
}
