@import '@/styles/variables.scss';

.p {
  margin: 0;
  color: #a5a1b2;
}

.S {
  font-size: 13px;
  line-height: 24px;
}

.M {
  margin-top: 8px;
  font-size: 15px;
  line-height: 24px;
}

.L {
	font-size: 20px;
  line-height: 28px;
}

.white {
  color: $color-main;
}

.gray {
  color: #a5a1b2;
  &__light {
    color: $color-input;
  }
}

.p {
  @media screen and (max-width: $mobile) {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
}
