@import "@/styles/variables.scss";

.switcher_container {
  margin: 0 30px;
  @media (max-width: $mobile) {
    margin: 0 10px;
  }
}
.switcher {
  cursor: pointer;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0;
  background-color: $color-submenu-background;
  transition: $time-main;
  .switcher_item {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }
  @media (max-width: $mobile) {
    width: 100%;
    aspect-ratio: 1;
    padding: 0;
    height: 16px;
    .switcher_item {
      padding: 5px;
      height: 16px;
      font-size: 10px;
    }
  }
}
