@import "@/styles/variables";

.description {
  width: 75%;
  margin-bottom: 30px;
  padding: 24px 0;
  h4 {
    padding-bottom: 20px;
  }
  .text {
  }
  .first {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  button{
    margin-top: 20px;
  }
  .list {
    ol {
      list-style-type: none;
    }
    li {
      position: relative;
      padding-left: 16px;
      margin-left: 12px;
    }
    li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background-color: #a5a1b2;
    }
    li::marker {
      color: transparent;
    }
  }
}

