@import "@/styles/variables.scss";

.description {
  width: 75%;
  @media screen and (max-width: 968px) {
    width: 100%;
  }
  padding: 10px 0;
  h4 {
    padding-bottom: 20px;
  }
  p {
    margin-top: 3px;
    line-height: 20px;
  }
  .first {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  button{
    margin: 5px 0 0 0;
    padding: 0;
  }
  .list {
    ol {
      list-style-type: none;
    }
    li {
      position: relative;
      padding-left: 16px;
      margin-left: 12px;
    }
    li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background-color: #a5a1b2;
    }
    li::marker {
      color: transparent;
    }
  }
}

