.description {
  width: 75%;
  padding: 24px 0;
}
.list {
  ol {
    list-style-type: none;
  }
  li {
    position: relative;
    padding-left: 16px;
    margin-left: 12px;
  }
  li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #a5a1b2;
  }
  li::marker {
    color: transparent;
  }
}
