@import '@/styles/variables.scss';

.row {

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  //&::after {
  //  content: '';
  //  background-color: rgba(black,.16);
  //  height: 1px;
  //  position: absolute;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  pointer-events: none;
  //}
}

.body {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  background-color: transparent;
}

.logo {
  margin-right: 10px;
  z-index: 10;
}

.menu {
  flex: 1 1 auto;
  &__list {
    display: flex;
    align-items: center;
    @media (max-width: $pc) {
      display: none;
    }
  }
  &__item a {
    position: relative;
    z-index: 10;
    margin-left: 10px;
    padding: 5px 0;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    white-space: nowrap;
    transition: $time-main;
    &:hover {
      opacity: 1;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  @media (max-width: $mobile) {
    display: none;
  }
}
