@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  //&::after {
  //  content: '';
  //  background-color: rgba(black,.16);
  //  height: 1px;
  //  position: absolute;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  pointer-events: none;
  //}
}

.body {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: rem(72);
  background-color: transparent;
}

.logo {
  margin-right: rem(10);
  z-index: 10;
}

.zindex {
  z-index: 10;
}
.menu {
  flex: 1 1 auto;
  &__list {
    display: flex;
    align-items: center;
    @media (max-width: $pc) {
      display: none;
    }
  }
  &__item a {
    position: relative;
    z-index: 10;
    //margin-left: rem(10);
    padding: rem(5) 0;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    font-size: rem(15);
    line-height: rem(20);
    font-weight: 500;
    white-space: nowrap;
    transition: $time-main;
    &:hover {
      opacity: 1;
    }
  }
  &__link {
    margin-left: rem(15);
  }
}

.actions {
  display: flex;
  align-items: center;
  @media (max-width: $mobile) {
    display: none;
  }
}
