@import "@/styles/variables";

.carousel {
  user-select: none;
  padding: 0 20px;
  margin-bottom: 20px;
  .title {
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    svg {
      margin-bottom: 3px;
    }
  }
  .card {
    padding: 15px 10px 0 10px;
  }
}

.arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  button {
    height: 100%;
    width: 100%;
    padding: 0;
    transition: $time-main;
    &:disabled{
      display: none;
    }
    &:active {
      transform: scale(0.5);
      transition: $time-main;
    }
  }
  &.prev,&.next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }
  &.prev {
    left: -25px;
  }
  &.next {
    right: -25px;
  }
}
