@import "src/styles/variables";

.carousel__block {
  user-select: none;
  margin: 20px 50px;
  overflow: hidden;
  .title {
    display: flex;
    align-items: center;
  }
  .card {
    padding-top: 15px;
    padding-right: 20px;
  }
}

.carousel {
  width: 100%;
  .viewport {
    margin: 20px;
    display: flex;
    white-space: nowrap;
    transition: transform 1s;
    flex-direction: row;
  }
}
.arrow {
  display: flex;
  z-index: 15;
  position: relative;
  top: 30%;
  button {
    transition: $time-main;
    &:disabled{
      display: none;
    }
    &:active {
      transform: scale(0.5);
      transition: $time-main;
    }
  }
  .left {
    top: -20vh;
    position: absolute;
    left: 0;
  }
  .right {
    top: -20vh;
    position: absolute;
    right: 0;
  }
}
