@import '../../styles/variables.scss';
.movie {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 2fr;
  gap: 5vw;
  margin: 20px 0;
}

.img img {
  max-width: 720px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.descr {
  text-align: left;
}
