@import '../../styles/variables.scss';

.bg_container {
  background: linear-gradient(rgb(196, 189, 181) 0%, rgba(196, 189, 181, 0) 100%);
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  opacity: .32;
  transition: opacity 1s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
}
.movie {
  * {
    z-index: 1;
  }
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 2fr;
  gap: 5vw;
  margin: 20px 0;
}

.img img {
  max-width: 720px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.descr {
  text-align: left;
}
