@import "@/styles/variables.scss";

.openers {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  @media screen and (max-width: 600px) {
    justify-content: space-between;
  }
  .filters__icon {
    display: flex;
    margin: 0 10px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    .open_filter:hover {
      transition: $time-main;
      color: $color-accent;
    }
    svg {
      margin-right: 5px;
    }
  }
}

.filters {
  padding: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1f1b2e;
  border-radius: 6px;
  margin-bottom: 20px;
  transition: max-height 400ms ease,opacity 200ms ease,padding-top 400ms ease;
  .plank_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
  }
  .plank_item {
    position: relative;
    margin-bottom: 12px;
    padding-right: 6px;
    padding-left: 6px;
    width: calc(100%/6);

    @media screen and (max-width: 879px) {
      width: 50%;
    }
    @media screen and (max-width: 599px) {
      width: 100%;
    }
  }
  .sausage_list {
    display: flex;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .sausage {
    margin: 12px 12px 0 0 ;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .reset {
    user-select: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    cursor: pointer!important;
    &:disabled {
      opacity: .32;
      cursor: default!important;
    }
  }
}
