@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.container {
  margin: rem(20) 0;
}

.breadcrumbs {
  display: flex;

  &__item {
    font-size: rem(14);
    font-weight: 500;
    position: relative;
    margin-right: rem(16);
    & span {
      opacity: 0.5;
    }
    &::before {
      content: '/';
      position: absolute;
      left: rem(-11);
      color: gray;
    }
    &:first-child::before {
      content: none;
    }
    & a {
      position: relative;
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        bottom: rem(-2);
        left: 0;
        width: 100%;
        height: rem(2);
        background-color: rgba(255, 255, 255, 0.3);

        transform-origin: left;
        transition: $time-main;
      }

      &:hover::after {
        bottom: rem(0);
        height: rem(16);
        transition: all 0.05s ease-in;
      }
    }
  }
}
