@import '@/styles/variables.scss';

.plank {
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #312b45;
  border-radius: 4px;
  height: 56px;
  padding: 8px 16px;
  cursor: pointer;
  .info {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
  }
  .chosen {
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    color: $color-secondary;
  }
  .title {
    transition: $time-main;
    display: flex;
    align-content: flex-start;
    font-size: 15px;
    line-height: 20px;
    height: 20px;
  }
  &.active {
    transition: $time-main;
    background-color: #7e798f!important;
  }
  .icon {
    display: flex;
    align-items: center;
    svg {
      stroke-width: 1px;
    }
  }
  &:disabled {
    opacity: .32;
    cursor: default;
    pointer-events: none;
  }
}
