@import '@/styles/variables.scss';

.row {
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & p {
    margin-top: 32px;
  }
}
.icon {
  width: 80px;
  height: 80px;
}
