@import '../../styles/variables.scss';

.bg_container {
  width: 100%;
  height: 0;
  opacity: .32;
  padding-bottom: 40%;
  transition: opacity 1s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0!important;
  pointer-events: none;
}
.watch {
  * {
    z-index: 1;
  }
  margin: 0 0 40px 0;
  &__content {
  }
  &__row {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
      'a b'
      'a c';
    gap: 30px;
    margin: 30px 0;
  }
  &__player {
    flex: 1 1 auto;
    grid-area: a;
  }
  &__info {
    grid-area: b;
  }
  &__title {
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 0 12px;
    text-align: center;
  }
  &__params {
    margin-bottom: 20px;
    text-align: center;
  }
  &__medallions {
    margin-bottom: 20px;
  }
  &__description {
    padding: 12px 0;
    margin-bottom: 20px;
  }
  &__rating {
    margin: 0 auto;
  }
}

.comments {
  margin-bottom: 20px;
  h4 {
    border-bottom: 1px solid rgba($color-main, 0.16);
    display: inline;
    transition: $time-main;
    &:hover {
      cursor: pointer;
      border-bottom-color: $color-main;
    }
  }
}

@media (max-width: $pc) {
  .watch {
    &__row {
      grid-template-columns: 1fr;
      grid-template-areas:
        'b'
        'a'
        'c';
    }
  }
}
