.progress {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #312b45;
  z-index: 1;
  &__line {
    width: 5%;
    height: 2px;
    background-color: #ea003d;
    transition: width 0.5s;
  }
}
